.SVGfilterEffectContainer {
    display: none;
}

.windowBase {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    /* width: 10px;
    height: 10px;
    background-color: red;
        */
    /* debug config */
    overflow: visible;
}

.windowBaseDragHandle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 93, 255, 0.397);
    cursor: move;

    background: repeating-linear-gradient(0deg, #2c2d6b 0px, #2c2d6b 1px, transparent 1px, transparent 100px),
        repeating-linear-gradient(90deg, #2c2d6b 0px, #2c2d6b 1px, transparent 1px, transparent 100px);
    filter: url(#SVGfilterEffect-windowBaseDragHandle);
}

.windowLocator,
.windowRotateBase {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: visible;
    transform-origin: left top;
}

.window {
    position: absolute;
    left: 0;
    top: 0;
    resize: both;
    min-height: 60px;
    min-width: 120px;
    border-radius: 10px;
    background-color: rgb(61, 93, 255);
    border: 3px solid #8fbeff;
    overflow: hidden;
    cursor: crosshair;
    transform-origin: left top;
    transition: all .5s cubic-bezier(0.1, 1, 0.6, 1);
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 61, 61, 0.519);
}

.windowDragBox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: calc(100% - 60px);
    cursor: move;
}

.closeButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 119, 0, 0.822);
    cursor: pointer;
}

.maximizeButton {
    position: absolute;
    right: 30px;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 200, 255, 0.822);
    cursor: pointer;
}

.maximizedWindow {
    position: absolute;
    /* left: 0;
    top: 0;
    width: 100%;
    height: 100%; 这是以前最大化用fixed实现留下的遗物，为了向动画妥协，用了absolute+js计算视口位置*/
    resize: none;
    border: 0px solid #8fbeff;
    border-radius: 0px;
    background-color: rgb(61, 93, 255);
    overflow: hidden;
    cursor: crosshair;
    transition: all .5s cubic-bezier(0.1, 1, 0.6, 1);
}

.maximizedWindow .nav .windowDragBox {
    top: -100%;
    cursor: no-drop;
}

.maximizedWindow .nav .closeButton {
    right: -30px;
    cursor: no-drop;
}

.maximizedWindow .nav .maximizeButton {
    right: 0;
}

.windowCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(1.5px);
    /* 添加前缀以解决兼容性问题 */
    backdrop-filter: blur(1.5px);
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 10px, transparent 10px, transparent 20px);
}

.window::-webkit-resizer {
    background-color: rgba(255, 65, 65, 0.295);
}

.windowTitle {
    position: absolute;
    top: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.window .nav .windowTitle {
    left: 30px;
    transform: translateX(0);
}

.maximizedWindow .nav .windowTitle {
    left: calc(50%);
    transform: translateX(-50%);
}

.closeButton,
.maximizeButton,
.windowTitle {
    transition: all .5s cubic-bezier(0.3, 0, 0, 1) .25s;
}