* {
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(27, 34, 56);
    /* debug color */
    /* background-color: rgb(199 181 44); */
    overflow: hidden;
}